{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static '' %}" />
{% endblock %} 

{% block content %}
<section class="post-container">
  <div class="wandrly-img">
    {% if post.media %}
      <img src="{{ post.media.url }}" alt="Post image" />
    {% endif %}
  </div>

  <div class="post-details">
    <h1>{{ post.location }}</h1>
    <h2>{{ post.caption }}</h2>
    <p>Posted by {{ post.user.username }} on {{ post.created_at }}</p>


    {% if post.likes.count > 0 %}
      <p>{{ post.likes.count }} like{{ post.likes.count|pluralize }}</p>
    {% endif %}


    <h3>Comments</h3>
    {% if post.comments.exists %}
      <ul>
        {% for comment in post.comments.all %}
          <li><strong>{{ comment.user.username }}</strong>: {{ comment.text }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No comments yet</p>
      <small>Start conversation</small>
    {% endif %}

      <div class="post-actions">
        <a href="{% url 'post-update' post.id %}" class="btn warn">Edit</a>
        <a href="{% url 'post-delete' post.id %}" class="btn danger">Delete</a>
      </div>
    </div>
    <div id="map" style="height: 400px; width: 100%; margin-top: 20px;"></div>
    <h3>Comment</h3>
    <form action="{% url 'add-comment' post.id %}" method="post" class="subsection-content" autocomplete="off">
      {% csrf_token %} 
      {{ comment_form.as_p }}
      <button type="submit" class="btn submit">Add Comment</button>
    </form>
  </section>
  <!-- <div id="map" style="height: 500px; width: 100%;"></div>
  <script>
  var map = L.map('map').setView([20, 0], 2);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; OpenStreetMap contributors'}).addTo(map);
    {% if coords %}
    var marker = L.marker([{{ coords.lat }}, {{ coords.lng }}]).addTo(map);
    marker.bindPopup("<b>{{ post.location.city }}, {{ post.location.country }}</b><br>{{ post.caption }}").openPopup();
    map.setView([{{ coords.lat }}, {{ coords.lng }}], 6);
    {% endif %}
    </script> -->
  {% endblock %}
